
header
   background: linear-gradient(180deg,#130e21,$timber-bg-color)

.nav-container
   +outer-container
   +padding(0 32px 0 30px)
   height: 84px
   position: relative
   z-index: 99
   display: flex
   align-items: center

   .logo
      width: 100px

   .nav-menu
      flex: 1
      display: flex
      justify-content: flex-end

   a
      +margin(0 0 0 24px)
      color: white
      text-transform: uppercase
      font-size: $base-font-size / 1.3
      font-weight: 700
      transition: opacity .3s

      &:hover
         opacity: 0.7

   #nav-icon
      display: none

#checker
   display: none

.hero-container
   +outer-container
   +padding(50px 0 80px 32px)
   display: flex
   flex-wrap: wrap
   justify-content: space-between
   overflow-x: hidden

.hero-left
   width: 386px

   h3
      color: $timber-purple
      text-transform: uppercase
      letter-spacing: 0.9px

   h2
      color: white
      text-transform: uppercase
      margin-bottom: 12px

   h6
      color: white
      font-family: 'source sans pro', sans-serif
      margin-bottom: 40px
      line-height: 1.7rem
      width: 360px

.hero-form
   width: 386px
   +clearfix

   input[type="email"]
      float: left
      width: 228px
      height: 45px
      padding: 10px
      margin-right: 20px
      margin-bottom: 0
      border-radius: 50px
      text-align: center
      color: $timber-purple
      letter-spacing: 1px

      &:focus
         box-shadow: 0 0 5px 5px #5f54af

   input[type="submit"]
      width: 138px
      height: 45px
      padding: 0.7rem 2rem
      line-height: 24px
      border-radius: 50px
      background: $timber-purple
      text-transform: uppercase
      letter-spacing: 0.6px
      transition: $base-duration

      &:hover
         background: saturate($timber-purple, 20%)

      &:focus
         outline-style: none

.hero-right
   display: flex
   justify-content: flex-end
   width: 62%
   margin-top: -150px

   img
      width: 100%
      height: 430px

///////////////////
// Media Queries //
///////////////////

@media (max-width: 1135px)

   .hero-container
      padding: 50px 0 70px 0
      justify-content: center

   .hero-left
      text-align: center
      order: 1

      h6
         margin: 0 auto 40px auto

   .hero-right
      position: relative
      padding-bottom: 56%
      height: 0
      width: 100%
      bottom: 40px

      img
         position: absolute
         top: 0
         left: 0
         width: 100%
         height: 100%

@media (max-width: 768px)
   .nav-container

      label
         margin:
            bottom: 0
            top: 4px

      .nav-icon-container
         flex: 1
         display: flex
         justify-content: flex-end

      #nav-icon
         display: block

      .nav-menu
         display: block
         position: absolute
         top: 84px
         left: 0
         width: 100%
         flex: none

      a
         padding: 12px 12px
         margin: 0 30px
         background-color: rgba($timber-bg-color, 0.95)
         border-top: 1px solid rgba(255,255,255,0.2)

      .menu-item
         display: none
         transition: 0.3s ease-in-out

   #checker

      &:checked + header

         .menu-item
            display: list-item
            opacity: 0
            transform-origin: top center

            @for $i from 1 through 3
               &:nth-child(#{$i})
                  animation:
                     name: arbitraryname
                     duration: 150ms * $i
                     timing-function: ease-in-out
                     fill-mode: forwards

            &:hover
               background-color: transparentize($timber-purple, 0.7)

         @keyframes arbitraryname
            0%
               opacity: 0
               transform: rotateX(90deg) translateY(10px)
            100%
               opacity: 1
               transform: rotateX(0deg) translateY(0px)


@media (max-width: 680px)
   .hero-right
      padding-bottom: 70%
      margin-left: -17%
      margin-right: -17%
      margin-bottom: 30px
      width: 134%
      bottom: 20px

@media (max-width: 450px)
   .hero-left

      h2
         font-size: 2.1rem

      h6
         font-size: $base-font-size
         max-width: 290px

   .hero-form
      width: 90%
      margin: 0 auto

      input[type="email"]
         width: 100%
         margin:
            bottom: 16px
            right: 0
