.how-it-works
   background-color: $timber-bg-color2
   height: 900px

   h1, h3
      color: white
      letter-spacing: -1px

   h1
      text-align: center
      padding: 50px 0 20px 0

   h3
      text-transform: uppercase

   p
      color: darken(white, 35%)
      width: 325px

.animation-wrap


.animation
   width: 1000px
   margin: 0 auto
