.register
   background-color: lighten($timber-purple, 37%)
   padding: 180px 0
   border-bottom: 2px solid lighten($timber-purple, 26%)

   .container
      text-align: center

   h1
      letter-spacing: -2px
      margin-bottom: 8px

   input[type="button"]
      position: relative
      z-index: 2
      height: 45px
      background: $timber-purple
      color: white
      text-transform: uppercase
      letter-spacing: 0.6px
      line-height: 46px
      border-radius: 50px
      padding: 0 34px
      transition-duration: $base-duration

      &:hover
         background-color: saturate($timber-purple, 20%)

   h5
      font-family: 'source sans pro', sans-serif
      margin-bottom: 36px

   img
      position: absolute
      right: 0
      max-width: 780px
      margin-top: -70px

///////////////////
// Media Queries //
///////////////////

@media (max-width: 1100px)
   .register
      padding: 220px 0

      .container
         position: relative
         bottom: 50px

      h1
         font-size: 2.6rem

      img
         margin-top: -30px

@media (max-width: 768px)
   .register
      padding: 240px 0

      .container
         bottom: 80px

      img
         margin-top: -10px

@media (max-width: 640px)
   .register
      padding: 230px 0

      .container
         padding: 0 20px
         bottom: 100px

      h1
         font-size: 2.2rem

      h5
         font-size: $base-font-size * 1.1
         margin-bottom: 28px

      img
         margin-top: -20px

@media (max-width: 500px)
   .register
      padding: 170px 0

      .container
         bottom: 50px

      img
         max-width: 500px
         margin-top: 10px
